h1,p {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }
  
  /* p {
    color: red;
  } */
  li {
    list-style-type: none;
  }


  .special {
    color: orange;
    font-weight: bold;
  }

  #non-special{
    text-decoration: underline;
  }